/* ===== CHATBOT ICON ===== */
.chatBotIcon {
  position: fixed;
  right: 15px;
  width: 50px;
  height: 50px;
  background: #dc3545;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 32px;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  animation: ring 2s infinite;
}

/* ===== CHAT WINDOW ===== */
.chatWindow {
  position: fixed;
  right: 20px;
  width: 360px;
  height: 70vh;
  max-height: 600px;
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  z-index: 1001;
  overflow: hidden;
}

.fullscreen {
  top: 0 !important;
  left: 0;
  right: 0;
  bottom: 0 !important;
  width: 100vw;
  height: 100vh;
  border-radius: 0;
}

/* ===== CLOSE ICON ===== */
.chatWindowClose {
  position: absolute;
  top: -14px;
  right: -14px;
  width: 34px;
  height: 34px;
  color: black;
  background: #dc3545;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2000;
}

/* ===== HEADER ===== */
.chatHeader {
  background: #433737;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.botInfo {
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: bold;
}

.headerActions svg {
  cursor: pointer;
  font-size: 22px;
}

/* ===== BODY ===== */
.chatBody {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  background: #fafafa;
}

.message {
  display: flex;
  margin-bottom: 10px;
  color:black;

  &.bot {
    justify-content: flex-start;
  }
  &.user {
    justify-content: flex-end;
  }
}

.bubble {
  max-width: 80%;
  padding: 10px 14px;
  border-radius: 18px;
}

.bot .bubble {
  background: #e9e9eb;
}

.user .bubble {
  background: #007bff;
  color: #fff;
}

/* ===== LOADING ===== */
.loading {
  display: flex;
  gap: 6px;

  span {
    width: 8px;
    height: 8px;
    background: #999;
    border-radius: 50%;
    animation: bounce 1.4s infinite both;
  }
}

/* ===== SUGGESTIONS ===== */
.suggestions {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  border-top: 1px solid #eee;

  button {
    padding: 6px 12px;
    border-radius: 20px;
    border: 1px solid #007bff;
    background: #fff;
    color: #007bff;
    cursor: pointer;
  }
}

/* ===== INPUT ===== */
.inputForm {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-top: 1px solid #eee;

  input {
    flex: 1;
    border-radius: 20px;
    padding: 8px 12px;
    border: 1px solid #ccc;
  }

  button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #007bff;
    color: white;
    border: none;
  }
}
