// search fullscreen on click social-category-link
.search-fullscreen {
    display         : none;
    z-index         : 100;
    position        : fixed;
    top             : 0;
    left            : 0;
    right           : 0;
    bottom          : 0;
    background-color: rgba(0 0 0 /0.8);

    .header-search {
        display         : flex;
        justify-content : center;
        align-items     : center;
        width           : 100%;
        height          : 64px;
        background-color: #000;

        .search {
            position : absolute;
            top      : 0;
            height   : 64px;
            width    : 760px;
            left     : 50%;
            transform: translateX(-50%);

            .input-search {
                position     : absolute;
                width        : 760px;
                height       : 40px;
                left         : 50%;
                transform    : translateX(-50%);
                top          : 12px;
                background   : #FFF;
                color        : #1d1d1f;
                border-radius: 3px;
                border       : none;
                padding      : 8px 8px 8px 16px;
            }

            .input-search:focus-visible {
                outline: unset;
            }

            .clear {
                position        : absolute;
                top             : 50%;
                transform       : translateY(-50%);
                right           : 65px;
                border          : none;
                background-color: #FFF;
                margin-right    : 8px;

                .clear-icon {
                    font-size   : 17px;
                    margin-right: 8px;
                }

                .clear-icon:hover {
                    opacity: 0.7;
                }

                .spinner-icon {
                    font-size   : 15px;
                    margin-right: 8px;
                    animation   : spinner 1s linear infinite;

                }

                @keyframes spinner {
                    from {
                        transform: rotate(0);
                    }

                    to {
                        transform: rotate(360deg);
                    }
                }
            }

            .wall {
                position        : absolute;
                top             : 50%;
                transform       : translateY(-50%);
                right           : 73px;
                width           : 1px;
                height          : 28px;
                background-color: #000;
            }

            .btn-search {
                display         : flex;
                align-items     : center;
                justify-content : center;
                position        : absolute;
                width           : 60px;
                height          : 34px;
                margin-right    : 3px;
                top             : 50%;
                transform       : translateY(-50%);
                right           : 0;
                outline         : none;
                border          : none;
                border-radius   : 3px;
                background-color: #000;
                cursor          : pointer;

                .btn-search-icon {
                    color    : #FFF;
                    font-size: 20px;
                }
            }

            .btn-search:hover {
                opacity: 0.9;
            }

            .btn-search:hover .btn-search-icon {
                color: var(--foreignKey);
            }
        }

        .search-result {
            position        : absolute;
            width           : 760px;
            margin-top      : -10px;
            left            : 50%;
            transform       : translateX(-50%);
            border-radius   : 3px;
            padding         : 0px 8px 8px 16px;
            background-color: #FFF;
            box-shadow      : rgba(0, 0, 0, 0.12) 0px 2px 12px;

            .result-title {
                color           : #000;
                display         : flex;
                align-items     : center;
                font-size       : 14px;
                font-weight     : 500;
                height          : 30px;
                padding-left    : 8px;
                margin          : 0px -8px 0 -16px;
                background-color: rgba(0, 0, 0, 0.08);
            }
        }

        .close {
            position       : absolute;
            top            : 0;
            right          : 0;
            display        : flex;
            justify-content: center;
            align-items    : center;
            width          : 70px;
            height         : 70px;
            cursor         : pointer;

            .icon-close {
                color    : #fff;
                font-size: 50px;

                &:hover {
                    color: var(--foreignKey);
                }
            }
        }
    }

}

.search-fullscreen-toggle {
    display: block;
}

/* Mobile Responsive Styles */
@media screen and (max-width: 768px) {
    .search-fullscreen {
        .header-search {
            height: 56px;

            .search {
                width: 90%;
                height: 56px;

                .input-search {
                    width: 100%;
                    height: 36px;
                    top: 10px;
                    font-size: 14px;
                }

                .clear {
                    right: 55px;

                    .clear-icon, .spinner-icon {
                        font-size: 15px;
                        margin-right: 6px;
                    }
                }

                .wall {
                    right: 62px;
                    height: 24px;
                }

                .btn-search {
                    width: 50px;
                    height: 30px;

                    .btn-search-icon {
                        font-size: 18px;
                    }
                }
            }

            .search-result {
                width: 90%;
                max-height: 75vh;
                overflow-y: auto;

                .result-title {
                    font-size: 13px;
                    height: 28px;
                }
            }

            .close {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .search-fullscreen {
        .header-search {
            height: 50px;

            .search {
                height: 50px;

                .input-search {
                    height: 34px;
                    top: 8px;
                    padding: 6px 6px 6px 12px;
                    font-size: 13px;
                }

                .clear {
                    right: 45px;
                    
                    .clear-icon, .spinner-icon {
                        font-size: 14px;
                        margin-right: 4px;
                    }
                }

                .wall {
                    right: 52px;
                    height: 20px;
                }

                .btn-search {
                    width: 40px;
                    height: 28px;
                    
                    .btn-search-icon {
                        font-size: 16px;
                    }
                }
            }

            .search-result {
                max-height: 70vh;
                padding: 0px 6px 6px 12px;

                .result-title {
                    font-size: 12px;
                    height: 26px;
                    padding-left: 6px;
                    margin: 0px -6px 0 -12px;
                }
            }

            .close {
                display: none;
            }
        }
    }
}